h1
{
    border-radius: 120 ;
    margin: 200%;

    background-image:url(https://th.bing.com/th/id/R.775251ff2f9c75310c45b5607993a988?rik=dPkLBmv0fuPzOQ&riu=http%3a%2f%2fhdqwalls.com%2fwallpapers%2fson-goku-dragon-ball-super-anime-retina-display-5k-u1.jpg&ehk=i8jGBK%2b3mksY2p4YxSYYogfkzqEM7a07lFVAd4Yypzg%3d&risl=&pid=ImgRaw&r=0) ;
 -webkit-text-fill-color:transparent;
background-clip: text;
-webkit-background-clip: text;
}